.container {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 200px;
}

.title {
  width: auto;
  padding: 5px;
  color: black;
  font-size: 10px;
}

.poster {
  width:100px;
  height:100px;
}

.info {
  color:black;
  font-size: 10px;
}
  